.footer {
    background-color: var(--base-color-sand-beige);
    padding: 80px 0 42px 0;
}

.footer-content {
    display: flex;
    gap: 20px;
}

.footer-logo {
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 30px;
}

.footer-navigation {
    width: 100%;
    max-width: 560px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 0 auto;
}

.footer-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-navigation-column:nth-of-type(1) .footer-navigation-list__item:first-child a,
.footer-navigation-column:nth-of-type(3) .footer-navigation-list__item:first-child a {
    font: 600 1.125rem / 1 var(--font-roboto);
}

.footer-navigation-column:nth-of-type(2) .footer-navigation-list .footer-navigation-list__item a {
    font: 600 1.125rem / 1 var(--font-roboto);
}

.footer-navigation-list__link {
    font: 400 1.125rem / 1 var(--font-roboto);
    color: var(--base-color-dark);
}

.footer-social {
    margin: 2px 0 0 auto;
}

.footer-social-list {
    display: flex;
    gap: 20px;
}

.footer-social-list__item {
    width: 70px;
    height: 70px;
    background-color: var(--base-color-soft-gray);
    border-radius: 50%;
}

.footer-social-list__link {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: -5px 0 0 auto;
}

.footer-subscribe__title {
    font: 600 1.25rem / 1.4 var(--font-roboto);
    color: var(--base-color-dark);
}

.footer-form-subscribe {
    display: flex;
    gap: 20px;
}

.footer-form-subscribe__input {
    width: 300px;
    font: 400 1.25rem / 1.4 var(--font-roboto);
    color: var(--base-color-dark);
    background-color: var(--base-color-cream-beige);
    border-radius: var(--base-border-radius);
    padding: 21px 24px;
}

.footer-form-subscribe__input::placeholder {
    font: 400 1.25rem / 1.4 var(--font-roboto);
    color: var(--base-color-sand-beige);
}

.footer-form-subscribe__btn {
    font: 400 1.25rem / 1.4 var(--font-roboto);
    background-color: var(--base-color-olive-gray);
    color: var(--base-color-cream-beige);
    padding: 0 52px;
}

.footer-bottom-content {
    margin: 53px 0 0 0;
}

.footer-bottom-content-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1046px;
    margin: 0 auto 0 193px;
}

.footer-bottom-content-list__link {
    font: 400 1.125rem / 1 var(--font-roboto);
    color: var(--base-color-dark);
}

@media(max-width: 1440px) {
    .footer-navigation {
        max-width: 460px;
    }

    .footer-form-subscribe__input {
        width: 100%;
    }

    .footer-bottom-content-list {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto 0 0;
    }

    .footer-form-subscribe {
        flex-direction: column;
    }

    .footer-form-subscribe__btn {
        padding: 21px 52px;
    }
}

@media(max-width: 1024px) {
    .footer-content {
        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        gap: 0 20px;
    }

    .footer-logo {
        grid-area: 1 / 1 / 2 / 2;
    }

    .footer-navigation {
        max-width: 460px;
        grid-area: 1 / 2 / 2 / 3;
    }

    .footer-social {
        grid-area: 2 / 3 / 3 / 4;
    }

    .footer-subscribe {
        grid-area: 1 / 3 / 2 / 4;
    }
}

@media(max-width:767px) {
    .footer {
        padding: 58px 0 42px 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 41px 20px;
    }

    .footer-navigation {
        flex-direction: column;
        gap: 34px;
        margin: 0;
    }

    .footer-navigation-column:nth-of-type(3) {
        display: none;
    }

    .footer-social {
        margin: 0;
    }

    .footer-social-list__item {
        width: 60px;
        height: 60px;
    }

    .footer-subscribe {
        gap: 17px;
        margin: 0;
    }

    .footer-form-subscribe {
        gap: 10px;
    }

    .footer-subscribe__title {
        font: 600 1.125rem / 1 var(--font-roboto);
    }

    .footer-form-subscribe__input::placeholder {
        font: 400 1.125rem / 1.4 var(--font-roboto);
    }

    .footer-form-subscribe__btn {
        font: 400 1.125rem / 1.4 var(--font-roboto);
    }

    .footer-bottom-content-list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .footer-bottom-content-list__link {
        font: 500 1.125rem / 1 var(--font-roboto);
    }
}