.header {
    position: relative;
    z-index: 10;
    padding: 52px 0;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header-logo {
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 30px;
}

/* Search */
.header-search {
    width: 100%;
    max-width: 550px;
    margin: 0 0 0 auto;
}

.header-search-form {
    width: 100%;
    position: relative;
}

.header-search-form__input {
    width: 100%;
    font: 400 16px/1 var(--font-roboto);
    background-color: var(--base-color-light-gray);
    color: var(--base-color-dark);
    border: 2px solid var(--base-color-sand-beige);
    border-radius: 1000px;
    padding: 8px 16px;
}

.header-search-form__btn {
    position: absolute;
    right: 15px;
    top: 8px;
}

.header-search-form__icon {
    width: 24px;
    height: 24px;
    fill: transparent;
}

/* Header Contacts */

.header-contacts {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
}

.header-contacts__contact {
    font: 500 1.25rem / 1.4 var(--font-roboto);
    color: var(--base-color-dark);
}

/* Header Controls */

.header-controls {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Compare */

.compare {
    position: relative;
    display: flex;
}

.compare__link {
    width: 100%;
    height: 100%;
}

.compare__icon {
    width: 25px;
    height: 25px;
}

.compare__value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--base-color-sand-beige);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -4px;
    font: 500 10px/1 var(--font-roboto);
    color: var(--base-color-white);
}

/* Favorite */

.favorite {
    position: relative;
    display: flex;
}

.favorite__link {
    width: 100%;
    height: 100%;
}

.favorite__icon {
    width: 25px;
    height: 25px;
    fill: transparent;
}

.favorite__value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--base-color-sand-beige);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -4px;
    font: 500 10px/1 var(--font-roboto);
    color: var(--base-color-white);
}

/* Login */

.login__icon {
    width: 25px;
    height: 25px;
    fill: transparent;
}

/* Cart */

.cart {
    position: relative;
    display: flex;
}

.cart__link {
    width: 100%;
    height: 100%;
}

.cart__icon {
    width: 29px;
    height: 28px;
    fill: transparent;
}

.cart__value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--base-color-sand-beige);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -4px;
    font: 500 10px/1 var(--font-roboto);
    color: var(--base-color-white);
}

.burger-btn {
    width: 42px;
    height: 32px;
}

.burger-btn__icon {
    width: 42px;
    height: 26px
}

/* Menu */
.header-menu {
    display: flex;
    flex-direction: column;
    gap: 75px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 39px 120px;
}

.header-menu-heading {
    display: flex;
    justify-content: space-between;
}

.header-menu-heading__close-bnt {
    width: 30px;
    height: 30px;
}

.header-menu-heading__close-icon {
    width: 30px;
    height: 30px;
}

.header-menu-navigation {
    display: flex;
    justify-content: space-between;
}

.header-menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

}

.header-catalog__link {
    font: 500 1.5rem / 1.4 var(--font-roboto);
    color: var(--base-color-dark);
}

.header-sub-catalog {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 0 0 18px;
    margin: 17px 0 0 0;
}

.header-sub-catalog__link {
    position: relative;
    font: 400 1.375rem / 1 var(--font-roboto);
    color: var(--base-color-dark);
}

.header-sub-catalog__link::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--base-color-dark);
    top: 8px;
    left: -18px;
    border-radius: 50%;
}

.header-menu-navigation__link {
    font: 500 1.5rem / 1.4 var(--font-roboto);
    color: var(--base-color-dark);
}

/* Header Brands */
.header-brands {
    display: flex;
    gap: 20px;
}

.header-brand {
    display: flex;
    max-width: 180px;
    background-color: #d9d9d9;
}