@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"),
        url("../fonts/Cormorant/Cormorant-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant/Cormorant-Medium.woff2") format("woff2"),
        url("../fonts/Cormorant/Cormorant-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant/Cormorant-SemiBold.woff2") format("woff2"),
        url("../fonts/Cormorant/Cormorant-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant/Cormorant-Bold.woff2") format("woff2"),
        url("../fonts/Cormorant/Cormorant-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal
}

/* Roboto */

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

:root {
    --font-cormorant: Cormorant;
    --font-roboto: Roboto;
    
    --base-color-dark: #443F3A;
    --base-color-white: #FFFFFF;

    --base-color-sand-beige: #B9B5AC;  /* тёплый песочный */
    --base-color-cream-beige: #F0EBE5; /* кремово-бежевый */
    --base-color-olive-gray: #878378;  /* оливково-серый */
    --base-color-light-gray: #E5E5E5;  /* светло-серый */
    --base-color-soft-gray: #D9D9D9;   /* мягкий серый */
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: var(--base-color-cream-beige);
    padding: 0;
    margin: 0;
}

html {
    font-size: clamp(16px, 0.5vw, 20px);
}

/* font: 600 1.125rem / 1 var(--font-roboto);  18px
font: 400 1.25rem / 1.4 var(--font-roboto); 20px
font: 500 4.375rem / 1.1 var(--font-cormorant); 70px */

html, body {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

:root {
    --font-mont: 'Mont', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

ol {
    padding: 0;
    margin: 0
}

p {
    font-family: var(--font-mont);
    font-weight: 400;
    margin: 0
}

a {
    text-decoration: none;
    color: var(--base-color-dark);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

button {
    font-family: var(--font-mont);
    padding: 0;
    cursor: pointer
}

textarea {
    resize: none
}

img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    clip: rect(0, 0, 0, 0);
}

.wrapper {
    max-width: auto;
    padding: 0 20px;
    margin: 0 auto;
}

.icon {
    fill: var(--base-color-dark);
}

.section-title {
    /* font: 500 70px/110% var(--font-cormorant); */
    font: 500 4.375rem/110% var(--font-cormorant);
    color: var(--base-color-dark);
    text-transform: uppercase;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 0;
}

.section-text {
    /* font: 400 20px/140% var(--font-roboto); */
    font: 400 1.25rem/140% var(--font-roboto);
    color: var(--base-color-dark);
    margin: 0;
}

.catalog-link {
    width: 280px;
    /* font: 400 20px/140% var(--font-roboto); */
    font: 400 1.25rem/140% var(--font-roboto);
    color: var(--base-color-dark);
    position: relative;
    text-align: center;
}

.catalog-link__icon {
    position: absolute;
    width: 100%;
    max-width: 250px;
    left: 15px;
    top: 23px;
    z-index: 2;
}

.catalog-link::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    top: -4px;
    right: -17px;
    z-index: 1;
    background-color: var(--base-color-sand-beige);
    border-radius: 50%;
}


.star-rating {
    --stars: 5;
    --rating: 0;
    --star-size: 18px;
    --star-gap: 4px;

    --star-color: #e1e1e1;
    --star-active: #f5b301;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

/* Контейнер звёзд */
.star-rating__stars {
    position: relative;
    width: 100px;
    height: 18px;
}

/* Общий SVG путь звезды */
.star-rating__stars::before,
.star-rating__stars::after {
    content: "";
    position: absolute;
    inset: 0;

    background-size: var(--star-size) var(--star-size);
    background-position: left center;
}

/* Серые звезды */

.star-rating__stars::before {
    background-image:
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg");

    background-position:
        0 0,
        calc(var(--star-size) * 1) 0,
        calc(var(--star-size) * 2) 0,
        calc(var(--star-size) * 3) 0,
        calc(var(--star-size) * 4) 0;
}

/* .star-rating__stars::after {
    background-image:
        url("../img/star-active.svg"),
        url("../img/star-active.svg"),
        url("../img/star-active.svg"),
        url("../img/star-active.svg"),
        url("../img/star-active.svg");

    background-position:
        0 0,
        calc(var(--star-size) * 1) 20px,
        calc(var(--star-size) * 2) 0,
        calc(var(--star-size) * 3) 0,
        calc(var(--star-size) * 4) 0;

    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
} */


/* About Company */
.main-page {
    position: relative;
    padding: 120px 0;
}

.main-page::before {
    position: absolute;
    content: '';
    width: 100%;
    max-width: 1672px;
    height: 414px;
    top: 623px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: url(../img/decor/decor.png) 0 0 / contain no-repeat;
}

.about-company-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 60px 0 0;
}

.about-company-content-left-column {
    /* max-width: 688px; */
}

.about-company-content-right-coulmn {
    width: 100%;
    /* max-width: 550px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 42px 0 0 0;
    margin: 0 0 0 auto;
}

.about-company-description {
    max-width: 550px;
}

/* Popular Products */
.popular-products-section {
    margin: 356px 0 0 0;
}

.popular-products-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 52px 20px;
}

.popular-products-info {
    /* max-width: 700px; */
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 7;
    gap: 53px;
}

.popular-products-info__text {
    max-width: 575px;
}

.popular-products {
    display: contents;
}

/* .popular-products__product {
    max-width: 405px;
} */

.popular-products__product:nth-child(1) {
    grid-area: 1 / 7 / 2 / 10;
}

.popular-products__product:nth-child(2) {
    grid-area: 1 / 10 / 2 / 13;
}

.popular-products__product:nth-child(3) {
    grid-area: 2 / 1 / 3 / 4;
}

.popular-products__product:nth-child(4) {
    grid-area: 2 / 4 / 3 / 7;
}

.popular-products__product:nth-child(5) {
    grid-area: 2 / 7 / 3 / 10;
}

.popular-products-catalog-link {
    grid-area: 2 / 10 / 3 / -1;
    margin: auto auto 108px auto;
}

.product-card__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card__title {
    max-width: 270px;
    /* font: 400 20px/140% var(--font-roboto); */
    font: 400 1.25rem/140% var(--font-roboto);
    color: var(--base-color-dark);
}

/* Reviews */

.reviews-section {
    margin: 120px 0;
}

.reviews-section__title {
    max-width: 600px;
}

.reviews-slider {
    position: relative;
    overflow: hidden;
    margin: 60px 0 0 0;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* max-width: 547px; */
    background-color: var(--base-color-sand-beige);
    padding: 38px 54px;
}

.review.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* max-width: 547px; */
    height: 280px;
}

.review__user-name {
    /* font: 600 18px/1 var(--font-roboto); */
    font: 600 1.125rem/1 var(--font-roboto);
    color: var(--base-color-dark);

}

.review__user-text {
    /* font: 400 18px/140% var(--font-roboto); */
    font: 400 1.25rem/140% var(--font-roboto);
    color: var(--base-color-dark);
    display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    overflow: hidden;
}

.review__link {
    font: 500 18px/140% var(--font-roboto);
    color: var(--base-color-dark);
    margin: auto 0 0;
}

.reviews-slider-controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
    margin: 35px 0 0 0;
}

.reviews-slider-controls__control.swiper-button-next,
.reviews-slider-controls__control.swiper-button-prev {
    display: flex;
    justify-content: center;
    position: static;
    background-color: var(--base-color-sand-beige);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.reviews-slider-controls__control.swiper-button-next svg,
.reviews-slider-controls__control.swiper-button-prev svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--base-color-dark);
}

#reviews-slider .swiper-scrollbar {
    display: none;
}

/* Manufacture */

.manufacture-section {
    margin: 120px 0;
}

.manufacture-section__title {
    max-width: 1125px;
}

.manufacture-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 52px 0 0 0;

}

.manufacture-content-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.manufacture-content-column__text {
    font: 400 1.25rem/140% var(--font-roboto);
    color: var(--base-color-dark);
}

.manufacture-content-column:not(:has(.manufacture-content-column__img)) .manufacture-content-column__text {
    margin: auto 0 0 0;
}

.manufacture-content-column__img {
    object-fit: cover;
    height: 100%;
}

@media(max-width: 1920px) {
    .about-company-content-left-column {
        max-width: 688px;
    }

    .about-company-content-right-coulmn {
        max-width: 550px;
        margin: 0 178px 0 auto;
    }

    .reviews-slider.swiper {
        max-width: 1880px;
    }

    .review.swiper-slide {
        max-width: 547px;
        height: 280px;
    }
}

@media(max-width: 1440px) {
    .wrapper {
        padding: 0 16px;
    }

    /* About Company */
    .about-company-content-right-coulmn {
        margin: 0 0 0 auto;
    }

    /* Reviews */
    .reviews-slider.swiper {
        margin: 60px -16px 0;
    }

    .reviews-slider .swiper-wrapper {
        padding: 0 16px;
    }

    .review.swiper-slide {
        max-width: 485px;
    }
}

@media(max-width: 1220px) {
    .popular-products-content {
        display: flex;
        flex-direction: column;
        gap: 52px 20px;
    }

    .popular-products-info {
        gap: 34px;
    }

    .popular-products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
    
    .popular-products__product {
        max-width: 100%;
    }

    .popular-products__product:nth-child(n) {
        grid-area: auto;
    }

    .popular-products-catalog-link {
        margin: -200px 16px 0 auto;
    }

}

@media(max-width: 1024px) {
    .main-page::before {
        content: none;
    }

    /* About Company */
    .about-company-content {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 50px 0 0;
    }

    .about-company-content-left-column,
    .about-company-content-right-coulmn {
        max-width: 100%;
        gap: 50px;
        padding: 0;
    }

    /* Popular Products */
    .popular-products-section {
        margin: 86px 0 0 0;
    }

    /* Reviews */
    #reviews-slider {
        --swiper-scrollbar-drag-bg-color: var(var(--base-color-olive-gray));
        --swiper-scrollbar-bg-color: #C3C3C3;
    }

    #reviews-slider .swiper-scrollbar {
        display: block;
        position: static;
        margin: 40px 16px 0;
    }

    .reviews-slider-controls {
        display: none;
    }

    /* Manufacture */
    .manufacture-content {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 767px) {
    .section-title {
        font: 500 40px/1 var(--font-cormorant);
    }

    .section-text {
        font: 400 16px/140% var(--font-roboto);
    }

    /* About Company */
    .about-company-section__title {
        max-width: 220px;
    }

    .about-company-content {
        gap: 30px;
        padding: 40px 0 0;
    }

    .about-company-content-right-coulmn {
        gap: 32px;
    }

    .about-company-image img {
        width: 100%;
        aspect-ratio: 343 / 157;
        object-fit: cover;
    }

    /* Popular Products */
    .popular-products-content {
        gap: 32px;
    }

    .popular-products {
        gap: 32px;
    }

    .popular-products-catalog-link {
        margin: 0 auto;
    }

    /* Reviews */
    .review {
        padding: 38px 20px;
    }

    .reviews-slider.swiper {
        margin: 40px -16px 0;
    }

    .review.swiper-slide {
        max-width: 290px;
        height: auto;
    }

    .review__user-text {
        display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
    }

    #reviews-slider .swiper-scrollbar {
        width: calc(100% - 32px);
        margin: 36px auto 0;
    }

    /* Middle Banner */
    .page-banner-image {
        width: 100%;
        aspect-ratio: 375 / 269;
    }

    .page-banner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 87% 16%;
    }

    /* Manufacture */
    .manufacture-section {
        margin: 86px 0;
    }

    .manufacture-content {
        gap: 35px;
        margin: 35px 0 0 0;
    }

    .manufacture-content-column {
        gap: 31px;
    }

    .manufacture-content-column__text {
        font: 400 16px/140% var(--font-roboto);
    }

    .manufacture-content-column__img {
        width: 100%;
        aspect-ratio: 343 / 232;
        object-fit: cover;
        object-position: 50% 0;
    }
}