<section class="breadcrumbs">
    <div class="wrapper">
        <nav aria-label="Breadcrumb">
            <ol class="breadcrumbs-list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs-list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs-list__link" itemprop="item" href="/">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="breadcrumbs-list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs-list__link" itemprop="item" href="/videos">
                        <span itemprop="name">Каталог</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                <li class="breadcrumbs-list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span class="breadcrumbs-list__current-page"itemprop="name" aria-current="page">Кресла</span>
                    <meta itemprop="position" content="3" />
                </li>
            </ol>
        </nav>
    </div>
</section>