<div id="catalog-section-pagination" class="catalog-pagination">
    <a class="catalog-show-more" data-count="29" data-page="1" onclick="" href="?PAGEN_1=2">
        показать еще
    </a>
    <div class="pagination">
        <div class="pagination-list">
            <a class="pagination-list__item pagination-list__item-prev disabled">
                <svg class="icon pagination-list__icon-prev">
                    <use xlink:href="img/sprite.svg#icon-pagination-prev"></use>
                </svg>
            </a>
            <span class="pagination-list__item is-active">1</span>
            <a class="pagination-list__item" href="?PAGEN_1=2">2</a>
            <a class="pagination-list__item" href="?PAGEN_1=3">3</a>
            <div class="pagination-list__item">...</div>
            <a  class="pagination-list__item" href="?PAGEN_1=8">8</a>
            <a class="pagination-list__item pagination-list__item-next" href="?PAGEN_1=2">
                <svg class="icon pagination-list__icon-next">
                    <use xlink:href="img/sprite.svg#icon-pagination-next"></use>
                </svg>
            </a>
        </div>
    </div>
</div>